.root {
  position: relative;
  display: grid;
  padding-top: 20px;
  grid-template-columns: 26px 1fr auto 1fr 26px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    '. . search . .'
    'grid grid grid grid grid';
}
