.app {
  height: 100%;
}

.fullCenter {
  display: grid;
  place-content: center;
  height: 100%;
}

.dropZone {
  padding: 16px 32px;
  border: 2px dashed white;
  border-radius: 13px;

  &:focus-within {
    border: 2px solid #87dbff;
    box-shadow: 0px 0px 8px 4px hsl(198 100% 76% / 50%);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
