.root {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  overflow: scroll;
  width: 240px;
  box-sizing: content-box;
  border-right: 1px solid var(--color-border);
  background: var(--color-bg-sidebar);
}

.tabs {
  & ul {
    list-style: none;
    padding: 0;
  }

  & li {
    display: block;
    padding: 4px;
    position: relative;
  }

  & button {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    padding: 3px 8px;
    line-height: 1;
    background: unset;

    &:after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
    }

    &.active,
    &:hover {
      background: var(--color-border-selected);
      font-weight: bold;
    }
  }
}

.tableView {
  position: relative;
  overflow: scroll;
}

.cmapTable {
  display: flex;
  flex-direction: column;
}
