.root {
  display: grid;
  grid:
    'head head' 64px
    'sidebar table' 1fr
    / fit-content(100px) 1fr;
  height: 100%;
  overflow: hidden;

  & > * {
    min-width: 0;
  }
}

.head {
  grid-area: head;
  display: flex;
  gap: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--color-border);
  padding-top: 8px;
  overflow: scroll;

  & ul {
    list-style: none;
    padding: 0;
  }

  & li {
    display: block;
    padding: 4px;
    position: relative;
  }

  & button {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    padding: 3px 8px;
    line-height: 1;
    background: unset;

    &:after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
    }

    &.active,
    &:hover {
      background: var(--color-border-selected);
      font-weight: bold;
    }
  }
}

.tableView {
  grid-area: table;
  position: relative;
  overflow: scroll;
}

.cmapTable {
  display: flex;
  flex-direction: column;
}
